[submodule "projects/Gibbed.IO"]
	path = projects/Gibbed.IO
	url = https://github.com/Selene0623/Gibbed.IO
	branch = main
[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = git@github.com:Selene0623/NDesk.Options.git
	branch = main
[submodule "projects/XCompression"]
	path = projects/XCompression
	url = git@github.com:Selene0623/XCompression.git
	branch = main
[submodule "projects/Gibbed.ProjectData"]
	path = projects/Gibbed.ProjectData
	url = git@github.com:Selene0623/Gibbed.ProjectData.git
	branch = main
[submodule "bin/projects/Watch Dogs/files"]
	path = bin/projects/Watch Dogs/files
	url = https://github.com/gibbed/WDFileLists.git
[submodule "bin/projects/Watch Dogs 2/files"]
	path = bin/projects/Watch Dogs 2/files
	url = https://github.com/gibbed/WD2FileLists.git
[submodule "bin/projects/Watch Dogs Legion/files"]
	path = bin/projects/Watch Dogs Legion/files
	url = https://github.com/gibbed/WDLFileLists.git
